.placeOne {
    display: flex;
    justify-content: space-around;
}
.star-ratings {
    bottom: 4px;
    margin: 0 10px
}
.Rating_about_place {
    padding-top: 5px;
}
.comments {
    position: relative;
}
.slick-slide {
    position: relative;
}
.deleteComment,
.deleteImages{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 20px;
    padding: 0 0 25px 0;
}
.image {
    width: 400px
}
