.about_place {
    padding: 0;
}
.text_about_place {
    margin: 10px auto;
    width: 180px;
    text-align: center;
}
.empty {
    height: 79px;
}
.cardPlace {
    position: relative;
}
.deletePlace {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 20px;
    padding: 0 0 25px 0;
}
