.Spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.lds-ring {
    display: inline-block;
    position: relative;
    top: 45%;
    left: 48%;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.textUsers {
    width: 200px;
    position: absolute;
    top: 45%;
    left: 45%;
    text-align: center;
}

.text {
    color: #ffffff;
    position: absolute;
    left: -18px;
    font-size: 20px;
}
.textRu {
    top: 64px;
    padding-left: 13px;
}
.textKy {
    top: 88px;
    padding-left: 48px;
}
